<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>AI-Calorie-Tracker needs access to your camera to take photos of food for calorie analysis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AI-Calorie-Tracker needs access to your photo library to select food photos for calorie analysis.</string>
</dict>
</plist>

